.header-wrap {
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}

.header {
  background-color: rgba(0, 0, 0, 0.849);
  border-style: solid;
  border-color: black;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

@media (max-width: 769px) {
  .header-wrap {
    font-size: 12px;
  }

  .header {
    background-color: rgba(0, 0, 0, 0.849);
    border-style: solid;
    border-color: black;
    color: white;
    padding: 2px;
    border-radius: 15px;
  }
}

.aboutwrap {
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.about {
  background-color: rgba(0, 0, 0, 0.849);
  border-style: solid;
  border-color: black;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

@media (max-width: 769px) {
  .aboutwrap {
    font-size: 13px;
  }
}
