.quotewrap {
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.836);
  border-style: solid;
  border-width: 5px;
  border-color: rgb(91, 103, 114);
  color: white;
  border-radius: 25px;
  width: 500px;
  height: 250px;
}

.text-wrap {
  padding: 0 30px;
}

.buttonswrap {
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
}

#buttonshandlers:hover {
  background-color: gray;
}

#buttonshandlers:active {
  background-color: rgb(187, 185, 185);
}

@media (max-width: 769px) {
  .quote {
    width: 300px;
    height: 500px;
  }

  .buttonswrap {
    width: 270px;
    justify-content: space-around;
  }

  .sharebtn {
    font-family: "Playpen Sans", cursive;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border-radius: 15px;
    padding: 15px;
    border-style: solid;
    border-color: rgb(74, 74, 180);
  }

  .nextbtn {
    font-family: "Playpen Sans", cursive;
    display: flex;
    font-weight: 600;
    border-style: solid;
    border-color: rgb(74, 74, 180);
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    padding: 15px;
  }

  #buttonshandlers:hover {
    background-color: gray;
  }

  #buttonshandlers:active {
    background-color: rgb(187, 185, 185);
  }
}
