@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  background-image: url(asset/backgroundimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: "Playpen Sans", cursive;
}

.project-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 15px;
  overflow-x: hidden;
}
